.heading {
  font-weight: bold;
  vertical-align: middle;
}

.tomato {
  color: tomato;
}

.gross-color {
  color: #a3c010;
}

.nice-color {
  color: #03bbbb;
}

#about-me {
  font-family: sans-serif;
}

