#parent {
  width: 300px;
  height: 200px;
  background-color: rgb(94, 78, 215);
  position: relative;
}

#child1 {
  width: 20px;
  height: 50px;
  background-color: rgb(182, 211, 220);
  position: absolute;
  bottom:0;
  left: 1px;
}

#child2 {
  width: 20px;
  height: 110px;
  background-color: rgb(182, 211, 220);
  position: absolute;
  bottom:0;
  left: 40px;
}

#child3 {
  width: 20px;
  height: 150px;
  background-color: rgb(182, 211, 220);
  position: absolute;
  bottom:0;
  left: 80px;
}

#child4 {
  width: 20px;
  height: 140px;
  background-color: rgb(182, 211, 220);
  position: absolute;
  bottom:0;
  left: 120px;
}


#child5 {
  width: 20px;
  height: 130px;
  background-color: rgb(182, 211, 220);
  position: absolute;
  bottom:0;
  left: 160px;
}

#child6 {
  width: 20px;
  height: 70px;
  background-color: rgb(182, 211, 220);
  position: absolute;
  bottom:0;
  left: 200px;
}

#money {
  position: absolute;
  top:10px;
  left: 10px;
}

#time {
  position: absolute;
  bottom:10px;
  right: 20px;
}